a:active,
a:focus {
    outline: none;
}
input,
textarea {
    outline: none;
}
input:active,
textarea:active {
    outline: none;
}
:focus {
    outline: none;
}
.statsPage {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    &__crumb {
        margin-top: 16px;
        margin-bottom: 24px;
    }
    &__title {
        font-size: 32px;
        line-height: 39px;
        color: #1a1a1a;
        font-weight: bold;
        margin-bottom: 16px;
    }

    &__footer {
        margin-top: 40px;
        grid-row-start: 3;
        grid-row-end: 4;
    }
}
.table {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    width: 100%;
    margin-bottom: 24px;
    .tHead {
        background: #3a80ba;
        height: 48px;
        color: #ffffff;
        line-height: 48px;
        text-align: center;
        font-size: 16px;
        text-align: center;
    }
    .firstName,
    .lastName,
    .email,
    .gender,
    .ipAddress,
    .totalClicks,
    .view,
    .id {
        &__content {
            display: flex;
            overflow: hidden;
            padding-left: 10px;
            min-height: 32px;
            div {
                margin: auto 0;
            }
            .center {
                margin: auto;
            }
        }

        &__content,
        a {
            font-size: 16px;
            line-height: 20px;
            text-decoration: none;
            color: #1a1a1a;
        }
    }
    div {
        border-left: 1px solid white;
    }
    .id {
        min-width: 65px;
        &__head {
            border-radius: 10px 0 0 0;
        }
    }
    .firstName {
        min-width: 150px;
    }
    .lastName {
        min-width: 120px;
    }
    .email {
        min-width: 280px;
    }
    .gender {
        min-width: 110px;
    }
    .ipAddress {
        min-width: 147px;
    }
    .totalClicks {
        min-width: 153px;
    }
    .view {
        min-width: 150px;
        &__head {
            border-radius: 0 10px 0 0;
        }
    }
    .usersBg {
        background: #f1f1f1;
    }
}
